[submodule "robot-firmware"]
	path = firmware
	url = https://github.com/Pera-Swarm/firmware
[submodule "visualizer"]
	path = visualizer
	url = https://github.com/Pera-Swarm/visualizer
[submodule "hardware"]
	path = hardware
	url = https://github.com/Pera-Swarm/hardware
[submodule "sandbox"]
	path = sandbox
	url = https://github.com/Pera-Swarm/sandbox
[submodule "visualizer-ar"]
	path = visualizer-ar
	url = https://github.com/Pera-Swarm/visualizer-ar
[submodule "localization"]
	path = localization
	url = https://github.com/Pera-Swarm/localization
